<div>
  <div>
    <h1><%= t(:home_header) %></h1>
    <h2><%= t(:home_title_top) %></h2>
    <pre>
      <%= "Some ruby generated stories" %>
    </pre>
    <h2><%= t(:home_title_follow) %></h2>
    <pre>
      <%= "Some ruby generated stories" %>
    </pre>
  </div>
</div>  