<div class="center hero-unit">
 <div>
  <h1><%= t(:home_new_header) + t(:application_name) %></h1>
  <h2><%= t(:application_name_phonetic) %></h2>
  <p><%= t(:home_new_text) %></p>
  <%= link_to t(:application_sign_up), signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to t(:application_general_learn_more), learn_path, class: "btn btn-large btn-info" %>
  </div>
  </br>
  <div>
    <iframe width="640" height="480" src="<%= t(:home_new_content_link) %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>