<% provide(:title, t(:home_title)) %>
<% provide(:menu_class, 'home') %>
<div>
  <div>
    <h1><%= t(:home_header) %></h1>
    <div>
      <div class="subtitle">
        <h2><%= t(:home_title_new) + ": " + t(:statement_title).pluralize %></h2>
      </div>
      <% @newstatements.first(4).each do |statement| %>
	  	  <%= render 'statements/statements', statement: statement %>
	    <% end %>
    </div>
    <div>
      <div class="subtitle">
        <h2><%= t(:home_title_new) + ": " + t(:argument_title).pluralize %></h2>
      </div>
      <% @newarguments.first(4).each do |argument| %>
        <%= render 'arguments/arguments', argument: argument %>
      <% end %>
    </div>
  </div>
</div>  