<h1 id="txt"><%= t("profiles.show.title") %></h1>
<div class ="box profile center">
	<%= image_tag (@profile.picture.blank? ? "icon_temp.png" : @profile.picture), options = { alt: "Profile picture", size: "45x45", class: "profilepicture" } %>
	<h3><%= @user.username %></h3>
	<p><%= @profile.name %></p>
	<p style="text-overflow:ellipsis; white-space: nowrap;"><%= mail_to(@user.email, "" + (@user.email.length > 25 ? (@user.email.to_s[0, 23] + "...") : @user.email unless @user.email.blank?).to_s )  %></p>	
	<ul class="buttons">
		<li><% if @profile.user_id == current_user.id %><%= link_to("edit", edit_profile_url(@profile), html_options = { remote: false, id: :editbtn }) %></li><% end %>
	</ul>
	<div style='clear:both;'></div>
</div>
