<%= provide(:title, t(:login_title)) %>
<%= provide(:menu_class, 'signin') %>
<div class="center">
  <h1><%= t(:login_header) %></h1>
</div>

<div class="row-fluid">
  <div class="span4 offset2">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit t(:application_general_sign_in), class: "btn btn-large btn-primary" %>
    <% end %>
    
    <p><%= t(:login_new_user) %> <%= link_to t(:application_general_sign_up), signup_path %></p>
  </div>
</div>