<% @comment = getBestComment(argument) %>
<div class="<%= (argument.pro ? "box pro" : "box con") %>">
	<%= link_to argument.title, argument_path(argument), class: argument.pro ? "title" : "title" %>
	<p><%= argument.content %></p>
	<%= render partial: "votes/shr", locals: { argument: argument } %>
	<br>
	<% if @comment.present? %>
		<%= link_to argument_path(argument) + "#commentstitle" do %>
			<p class="comment">
			<% num_comments = argument.comment_threads.size%>
				<%= num_comments.to_s + (num_comments == 1 ? " reactie:" : " reacties:") %></br>
				"<%= @comment.body %>"
			</p>
		<% end %>
	<% else %>
		<%= link_to argument_path(argument) do %>
			<p class="comment"><%= t "arguments.comments.none" %></p>
		<% end %>
	<% end %>
</div>