<header>
	<div class= "box">
		<h1 class="title"><%= @argument.title %></h1>
		<p class="intro"><%= @argument.content %></p>
		<ul class="buttons">
			<li>
				<div class="commentinfo">
					<%= content_tag(:p, t("arguments.show.created_by", user: argumentCreatorUsername(@argument), date: l(@argument.created_at, format: :long))) %>
				</div>
			</li>			
			<li>	<%= link_to(t("edit"), edit_argument_path(@argument)) %>
			</li>
			<li>	<%= link_to(t("history"), revisions_argument_path(@argument)) %>
			</li>
		</ul>
		<div style='clear:both;'></div>
	</div>
</header>	