<header>
	<div class= "introcommentbox">
		<h1><%= t("arguments.type").capitalize %></h1>
		<p class="intro"><%= @argument.content %></p>
		<ul class="commentbuttons">
			<li>
				<div class="commentinfo">
				<%= content_tag(:p, t("test2")) %>
				</div>
			</li>			
			<li>	<%= link_to(t("edit"), edit_argument_path(@argument)) %>
			</li>
			<li>	<%= link_to(t("history"), revisions_argument_path(@argument)) %>
			</li>
		</ul>
		<div style='clear:both;'></div>
	</div>
</header>	