<%= link_to(argument_path(argument)) do %>
	<span class="prosbox">
		<div class="showhov">
			<h4 class="content showhead">
				<%= argument.title %>
			</h4>
		</div>
		<div class="content">
			<%= argument.content.strip[0,140] + ((argument.content.strip.length < 140) ? "" : "...") %>
		</div>
		<p>
			<small class="showtype"><%= t("arguments.type") + " " + getArgType(argument) %></small><small class="timestamp showtime"><%= ". "+ time_ago_in_words(argument.updated_at) + " " + t("datetime_ago") + " " + t("edited") %></small>
		</p>
	</span>
<% end %>
