%header
	.box
		%h1.title{class: @argument.pro ? 'titlepro' : 'titlecon' }= @argument.title
		%p.intro= @argument.content
		.infobar
			%ul.buttons
				%li
					.info= content_tag(:p, t("arguments.show.created_by", user: @argument.creator.username, date: l(@argument.created_at, format: :long)))
				%li= link_to(t("edit"), edit_argument_path(@argument))
				%li= link_to(t("history"), argument_revisions_path(@argument))
		.clearfix