<% @comment = getBestComment(argument) %>
<div class="<%= (argument.pro ? "box pro" : "box con") %>">
	<%= link_to argument.title, argument_path(argument), class: argument.pro ? "title" : "title" %>
	<%= content_tag :p, raw(argument.supped_content), class: 'intro' %>
	<%= render partial: "votes/shr", locals: { argument: argument } %>
	<br>
	<% if @comment.present? %>
		<%= link_to argument_path(argument) + "#commentstitle" do %>
			<div class="topcomment">
				<% num_comments = argument.comment_threads.size%>
				<span class="commentsnumber infobar"><%= num_comments.to_s + (num_comments == 1 ? " reactie:" : " reacties:") %></span>
				</br>
				<p><%= @comment.body[0..150] + (@comment.body[151] ? "..." : "") %></p>
			</div>
		<% end %>
	<% else %>
		<%= link_to argument_path(argument) do %>
						<div class="topcomment">
							<span class="commentsnumber infobar"><%= t "arguments.comments.none" %></span>
						</div>
		<% end %>
	<% end %>
</div>