<header>
  <div class="box">
    <h1 class="<%= @argument.pro ? 'titlepro' : 'titlecon'  %> title">
      <%= @argument.title %>
    </h1>
    <%= content_tag :p, raw(@argument.supped_content), class: 'intro' %>
    <%= content_tag :p, t("arguments.references") + ":", class: 'referencestitle' %>
    <%= print_references @argument.references %>
    <div class="infobar">
      <ul class="buttons">
        <li>
          <div class="info">
            <%= content_tag(:p, t("arguments.show.created_by", user: @argument.creator.username, date: l(@argument.created_at, format: :long))) %>
          </div>
        </li>
        <li>
          <%= link_to(t("edit"), edit_argument_path(@argument)) %>
        </li>
        <li>
          <%= link_to(t("history"), argument_revisions_path(@argument)) %>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</header>
