<header>
	<div class= "box">
		<h1 class="title"><%= @argument.title %></h1>
		<p class="intro"><%= @argument.content %></p>
		<ul class="buttons">
			<li>
				<div class="info">
					<%= content_tag(:p, t("arguments.show.created_by", user: @argument.creator.username, date: l(@argument.created_at, format: :long))) %>
					<!--TODO make the created_by clickable-->
				</div>
			</li>			
			<li><%= link_to(t("edit"), edit_argument_path(@argument)) %></li>
			<li><%= link_to(t("history"), argument_revisions_path(@argument)) %></li>
		</ul>
		<div style='clear:both;'></div>
	</div>
</header>	