<div class="box c<%= (depth-1).to_s %>">
	<p class= id="<%= c.id %>"><%= c.body %></p>
	<div>
		<ul class="buttons">
			<li>
				<div class="info">
					<%= ;content_tag(:p, raw(t("arguments.comments.placed_by", user: link_to(c.user.username.to_s, profile_path(c.user)), date: l(c.created_at, :format => :long) ))) %>
				</div>
			</li>
			<li><%= link_to t("reply"), argument_path(@argument, parent_id: c.id) %></li>
		</ul>
		<div style='clear:both;'></div>
	</div>
</div>
	<% unless depth > 4 %>
	<% if c.has_children? %>
		<% c.children.limit(10).each do |ch| %>
			<%= render partial: 'buildcomment', locals: { c: ch, depth: depth+1 } %>
		<% end %>
		<% if c.children.length > 10 %>
			<%= link_to t("arguments.comments.more"), '/' %>
		<% end %>
	<% end %>
<% end %>