<p class="c<%= (depth-1).to_s %>" id="<%= c.id %>"><%= c.body %></p>
<div >
	<ul class="commentbuttons">
		<!--<li><%= image_tag 'favoriet1.svg', alt: "Favoriet" %></li>
		<li><%= image_tag 'reageer1.svg', alt: "Reageer" %></li>
		<li><%= image_tag 'verwijder1.svg', alt: "Verwijder" %></li></li>-->
		<li><%= link_to t("reply"), argument_path(@argument, parent_id: c.id) %></li>
		<li><%= link_to t("reply"), argument_path(@argument, parent_id: c.id) %></li>
	</ul>
</div>
<div class="commentusername"><%= link_to c.user.username.to_s, profile_path(c.user) %>
</div>

	<% unless depth > 4 %>
	<% if c.has_children? %>
		<% c.children.limit(10).each do |ch| %>
			<%= render partial: 'buildcomment', locals: { c: ch, depth: depth+1 } %>
		<% end %>
		<% if c.children.length > 10 %>
			<%= link_to "show more (not yet working)", '/' %>
		<% end %>
	<% end %>
<% end %>