<%= form_for(@argument) do |f|%>
  <% if @argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@argument.errors.count, "error") + t("error_prohibited") %></h2>
      <ul>
        <% @argument.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "label-row">
    <%= f.label :title, t("arguments.form.arg_title"), class: "vertical" %>
    <div class="clear"></div>
    <%= f.text_field :title, class: "settingform verticalform" %>
    <p class="helpertext floatleft"><%= t("arguments.form.helper.title") %></p>
    <div class="clear"></div>
  </div>
    <div class= "label-row">
    <%= f.label :content, t("arguments.form.content"), class: "vertical" %>
    <div class="clear"></div>
    <%= f.text_area :content, class: "settingform verticalform", rows: "4" %>
    <p class="helpertext floatleft"><%= t("arguments.form.helper.content") %></p>
    <div class="clear"></div>
  </div>
  <div class= "label-row">
    <%= f.label :argtype, t("arguments.form.type"), class: "vertical" %>
    <div class="clear"></div>
    <div class="floatleft dropdown">
      <%= f.select(:argtype, options_for_select([
      [t("arguments.type_scientific"), 0],
      [t("arguments.type_axiomatic"), 1],
      [t("arguments.type_other"), 2],
      [t("arguments.type_discussion"), 3]
      ], @argument.argtype)) %>   
    </div> 
    <p class="helpertext floatleft"><%= t("arguments.form.helper.type") %></p>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="span8">
      <fieldset class="control-group">
      </fieldset>
      <%= f.hidden_field(:statement_id) %>
      <%= f.hidden_field(:pro) %>
      <fieldset class="form-actions">
        <%= f.submit t("arguments.form.submit"), class: "btn" %>
      </fieldset>
    </div>
  </div>
<% end %>
