<div class="<%= (pro ? "argument pro" : "argument con") %>">
	<%= form_tag("/arguments", method: "post", statement_id: @statement.id) do %>
		<%= text_field_tag(:title, "title", class: (pro ? "argtitle" : "argtitle")) %>
		<%= text_area(:content, "Content", size: "56x4") %><br />
		<%= submit_tag("Plaats") %>
	<% end %>
</div>