<% @comment = getBestComment(argument) %>
<div class=<%= (pro ? "pargument" : "cargument") %>>
	<%= link_to argument.title, argument_path(argument), class: (pro ? "pargtitle" : "cargtitle") %>
	<%= render partial: "votes/shr", locals: {argument: argument} %>
	<p><%= argument.content.strip[0,140] + ((argument.content.strip.length < 140) ? "" : "...") %><p>
	<% if (!@comment.nil?)%>
	<%= link_to ( argument_path(argument)+"#commentstitle" ) do %><p class=<%= (pro ? "pcomment" : "ccomment") %>><%= @comment.body %></p><% end %>
	<%= image_tag((pro ? "pcmnt.png" : "ccmnt.png"), class: (pro ? "imgpcomment" : "imgccomment")) %><% end %>
</div>