<% @comment = getBestComment(argument) %>
<div class="<%= (pro ? "argument pro" : "argument con") %>">
	<%= link_to argument.title, argument_path(argument), class: (pro ? "title" : "title") %>
		<div id="expand_nope">
			<p><%= argument.content %></p>
			<%= render partial: "votes/shr", locals: {argument: argument} %>
			<% if (!@comment.nil?)%>
				<%= link_to ( argument_path(argument)+"#commentstitle" ) do %><p class=<%= (pro ? "pcomment" : "ccomment") %>><%= @comment.body %></p>
			<% end %>
		</div>
	<% end %>
</div>