<header>
	<h1><%= t("revisions.title") %></h1>
</header>
<table class="revtbl">
	<tr>
    	<th><%= t("arguments.revisions.table_id") %></th>
    	<th><%= t("arguments.revisions.table_title") %></th>
        <th><%= t("arguments.revisions.table_content") %></th>
        <th><%= t("arguments.revisions.table_edited") %></th>
        <th><%= t("arguments.revisions.table_created") %></th>
    	<th><%= t("arguments.revisions.table_page") %></th>
    	<th><%= t("arguments.revisions.table_make") %></th>
  	</tr>
<% unless @argument.versions.scoped.empty? || @argument.versions.scoped.first.reify.blank? %> 
    <% @argument.versions.scoped.reverse.each do |v| %>
    	<tr>
    		<% a = v.reify %>
    		<% u = User.find_by_id(v.whodunnit) %>
        	<td><%= v.id.to_s %></td>
        	<td><%= a.title %></td>
        	<td><%= a.content[0,140] + ((a.content.length < 140) ? "" : "...") %></td>
        	<td><%= link_to(u.username, user_url(u)) %></td>
        	<td><%= v.created_at.to_s %></td>
        	<td><%= link_to(t("revisions.goto"), rev_revisions_argument_url(@argument, v)) %></td>
        	<td><%= link_to(t("revisions.revert"), update_revision_argument_url(a, v), method: :put) %></td>
      	</tr>
    <% end %>
<% else %>
    <tr>
        <td><%= t("empty_type", type: "revisies") %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
<% end %>
</table>