<% provide(:title, @argument.title.nil? ? t(:argument_title) : @argument.title) %>
<% provide(:menu_class, 'arguments') %>
<div class="pageconf">
	<%= link_to('edit', edit_argument_path(@argument)) %>
	<%= link_to('history', revisions_argument_path(@argument)) %>
</div>
<%= render 'argumentbody' %>
<%= render 'argumentcomments' %>
<%= form_tag(@argument.id.to_s + "/placeComment", :action => "placeComment", :method => "post", :id => @argument.id) do %>
<%= text_area_tag :comment,"", :rows => 5, :cols => 50 %>
<%= submit_tag "Reageer" %>
<% end %>
