<div class="profile form-horizontal" style="overflow: hidden; text-overflow:ellipsis;">
	<ul id="head">
		<% if @user.username == current_user.username %><li><%= link_to("edit", edit_user_registration_url(@user), html_options = { remote: true, id: :editbtn }) %></li><% end %>
		<li><h1 id="txt">Account</h1></li>
	</ul>
	<div id="profbody">
		<%= image_tag (@user.profile.picture.blank? ? "icon_temp.png" : @user.profile.picture), options = { alt: "Profile picture", size: "45x45", style: "float: left; margin-right: 5px;" } %>
		<h3 style="align:inline;"><%= @user.username %></h3>
		<p><%= @user.profile.name %></p>
		<p style="text-overflow:ellipsis; white-space: nowrap;"><%= mail_to(@user.email, "" + (@user.email.length > 25 ? (@user.email.to_s[0, 23] + "...") : @user.email unless @user.email.blank?).to_s )  %></p>
	</div>
	<h3 id="txt">Linked accounts</h3>
	<%= render 'authentications/login_providers_connected' %>
	<%= link_to 'Link profile', authentications_url %>
</div>