<%= form_tag(controller: "users", action: "update", method: "put") do %>
<table border="0">
<tr>
<td><h1 class="setting">gebruikersnaam</h1></td>
<td><%= text_field(:user, :username, class: "settingform", placeholder: current_user.username) %>
</tr>
<tr>
<td><h1 class="setting">volledige naam</h1></td>
<td><%= text_field(:profile, :name, class: "settingform", placeholder: current_user.profile.name.blank? ? "Vul hier je naam in" : current_user.profile.name) %>
</td>
</tr>
<tr>
<td><h1 class="setting">e-mailadres</h1></td>
<td><%= email_field(:user, :email, class: "settingform", placeholder: current_user.email.blank? ? "Vul hier je e-mailadres in" : current_user.email) %></td>
</tr>
<tr>
<td><h1 class="setting">wachtwoord</h1></td>
<td><%= password_field_tag(:password, "", class: "settingform") %>
</td>
</tr>
<tr>
<td><h1 class="setting">gekoppelde accounts</h1></td>
<td>
<div class="authentications">
  <% for authentication in @authentications %>
    <div class="authentication">
      <%= image_tag "favicon_#{authentication.provider}.svg", :size => "64x64" %>
      <div class="provider"><%= authentication.provider.titleize %></div>
      <div class="uid"><%= authentication.uid %></div>
      <% unless current_user.isOmniOnly && (current_user.authentications.size == 1) %>
        <%= link_to "ontkoppelen", authentication, :confirm => 'Weet je zeker dat je dit account wil ontkoppelen??', :method => :delete, :class => "remove",
          :class => "remove" %>
      <% else %>
        <%= link_to "X", cancel_user_registration_path(current_user), :confirm => ('Het ontkoppelen van dit account zorgt ervoor dat je niet meer kunt inloggen, aangezien je nog geen gebruikersnaam + wachtwoord op argu hebt gekozen om mee in te loggen.'),
            :class => "remove" %>
      <% end %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
</td>
</tr>
<tr>
<td><h1 class="setting">account koppelen</h1></td>
<td>
	<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "favicon_twitter.svg", :size => "64x64",
  :alt => "Twitter" %></a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "favicon_facebook.svg", :size => "64x64",
  :alt => "Facebook" %></a>
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "favicon_google.svg", :size => "64x64",
  :alt => "Google" %></a>
<a href="/auth/openid" class="auth_provider">
  <%= image_tag "favicon_openid.svg", :size => "64x64",
  :alt => "OpenID" %></a>
</td>
</tr>
<tr>
<td>
</td>
<td><%= submit_tag("opslaan", class: "submitbtn") %>
</td>
</tr>

	</table>
<% end %>


<!--
<div class="leftcolumn">
		<h1 class="setting">gebruikersnaam</h1>
	<h1 class="setting">volledige naam</h1>
	<h1 class="setting">e-mailadres</h1>
	<h1 class="setting">wachtwoord</h1>
	<h1 class="setting">gekoppelde accounts</h1>
</div>
<div class="rightcolumn">
	<input type="text" name="username" placeholder="<%= @user.username %>" class="settingform"></input>
	<input type="text" name="profilename" placeholder="<%= current_user.profile.name %>" class="settingform"></input>
	<input type="text" name="email" placeholder="<%= current_user.email.blank? ? "Vul hier je e-mailadres in" : current_user.email %>"class="settingform"></input
	<input class="settingform"><%= current_user.password %></input>

</div>

<div class="setting-content">
	<div>
		<div class="settings-row">
			<div class="column-name">gebruikersnaam</div>
			<div class="edit column-content"><%= @user.username %></div>
		</div>
		<div class="settings-row">
			<div class="column-name">Email</div>
			<div class="edit column-content"><%= current_user.email.blank? ? "Vul hier je e-mailadres in" : current_user.email %></div>
		</div>
		<div class="settings-row">
			<div class="column-name">Name</div>
			<div class="edit column-content"><%= current_user.profile.name %></div>
		</div>
		<div class="settings-row">
			<div class="column-name">About</div>
			<div class="edit_area column-content"><%= current_user.profile.about %></div>
		</div>
		<div class="newline">
			<%= render 'authentications/login_providers_connected' %>
		</div>
		<div class="newline">
			<h3 id="txt">Link additional</h3>
			<%= render 'authentications/login_providers', size: 32 %>
		</div>
	</div>
</div>
-->