<% provide(:title, t(:users_title)) %>
<header class="jumbotron subhead">
  <h1><%= t(:users_header) %></h1>
</header>
<section>
<div class="row">
  <div class="span8">
<table class="table table-striped">
  <thread>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Votes</th>
    <th>Clearance</th>
    <th></th>
    <% if current_user.clearance < 1 %><th></th>
    <th></th><% end %>
  </tr>
  </thread>
  <tbody>
<% @users.each do |user| %>
  <tr>
    <td><a href="<%= user_path(user) %>"><%= user.username %></a></td>
    <td><%= user.email %></td>
    <td>x</td>
    <td><%= user_type(user.clearance) %></td>
    <td><%= link_to t(:users_show), user %></td>
    <% if current_user.clearance < 1 %><td><%= link_to t(:users_edit), edit_user_path(user) %></td>
    <td><%= link_to t(:users_destroy), user, confirm: t(:users_destroy_confirmation),
                                   method: :delete %></td> <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
<div class="row">
  <div class="span8">
    <%= link_to t(:users_newuser), new_user_path %>
  </div>
</div>
</section>