<% provide(:title, t(:users_title)) %>
<header class="jumbotron subhead">
  <h1><%= t(:users_header) %></h1>
</header>
<section>
<div class="row">
  <div class="span10">
<table class="table table-striped">
  <thread>
  <tr>
    <th><%= t(:users_username) %></th>
    <th><%= t(:users_email) %></th>
    <th><%= t(:users_votes) %></th>
    <th><%= t(:users_clearance) %></th>
    <th></th>
  </tr>
  </thread>
  <tbody>
<% @users.each do |user| %>
  <tr onclick="document.location.href = '<%= user_path(user) %>'">
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td>x</td>
      <td><%= user_type(user.clearance) %></td>
      <td><%= link_to t(:users_show), user, class: "btn btn-primary" %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
</section>