<%= provide(:title, t(:users_new_title)) %>
<header class="center">
  <h1><%= t(:users_new_header) %></h1>
</header>
<div class="row">
  <div calss="span 6 offset3">
  <%= form_for(@user) do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, t(:users_new_confirmation) %>
    <%= f.password_field :password_confirmation %>

    </br>
    <%= f.submit t(:users_new_create), class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>