<h1><%= t("users_new_create")%></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <% [:username, :email, :password].each do |i| %>
    <div class="label-row">
      <label><%= f.label i %></label>
      <div class="label-subrow">
        <%= f.text_field i, class: "settingform" %>
      </div>
    </div>
  <% end %>
  <div class="label-row">
    <label><%= f.label :password_confirmation, t(:users_new_confirmation) %></label>
    <div class="label-subrow">
      <%= f.password_field :password_confirmation, class: "settingform" %>
    </div>
  </div>
  <div class="label-row">
    <label></label>
    <div class="label-subrow">
      <%= f.submit "Sign up", class: "btn" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
