<div class="box preview">
	<%= link_to statement.title, Statement.find_by_title(statement.title), class: "title" %>
	<p><%= statement.content %></p>
	<ul class="buttons">
			<li>
				<div class="info">
					<p><%= t "statements.preview.pro", count: statement.pro_count %>, <%= t "statements.preview.con", count: statement.con_count %>
					</p>
				</div>
			</li>
			<li><%= link_to t("delete"), "/" %></li>
		</ul>
		<div style='clear:both;'></div>
</div>