<div class="box statement">
	<%= link_to statement.title, statement_path(statement), class: "title" %>
	<p><%= statement.content %></p>
	<ul class="buttons">
			<li>
				<div class="info">
					<p><%= t "statements.preview.pro", count: statement.pro_count %>, <%= t "statements.preview.con", count: statement.con_count %>
					</p>
				</div>
			</li>
			<li><%= link_to t("destroy"), statement_path(statement), method: :delete, confirm: t("destroy_confirmation") %></li>
		</ul>
		<div style='clear:both;'></div>
</div>