<div class="argcontainer1">
	<div class="argcontainer2">
    <% [:pro, :con].each do |p| %>
  		<div class="procon">
        <% procon = p == :pro ? @pro : @con %>
  			<div class="argtypebox <%= p.to_s %>">
  				<h2><%= t("arguments." + p.to_s) %></h2>
  			</div>
  			<% unless procon.nil? %>
  				<% procon.each do |argument| %>
  					<%= render argument %>
  				<% end %>
  			<% else %>
  				<pre><%= t('statement_no_' + p.to_s + 's') %></pre>
  			<% end %>
  			<div class="centerbar <%= p.to_s %>">
  				<%= link_to t("arguments.new.create", side: t("arguments." + p.to_s)), new_argument_path(pro: p ? true : false, statement_id: statement.id), class: "btn" %>
  			</div>
  		</div>
    <% end %>
	</div>
</div>
