<div class="stcont3">
	<ul class="navcontent">
		<li>
			<%= link_to t("arguments.index.title"), "/" , class: "current" %>
		</li>
		<li>
			<%= link_to t("arguments.index.opinion"), "/" %>
		</li>
		<li>
			<%= link_to t("arguments.index.parties"), "/" %>
		</li>
		<li>
			<%= link_to t("arguments.index.law"), "/" %>
		</li>
</div>
<div class="argcontainer1">
	<div class="argcontainer2">
		<div class="prosbox">
			<div class="argtypebox">
				<h2><%= t("arguments.pro") %></h2>
			</div>
			<% unless @pro.nil? %>
				<% @pro.each do |argument| %>
					<%= render 'arguments/sarguments', argument: argument, pro: true %>
					<hr class="stripe"></hr>
				<% end %>
			<% else %>
				<pre><%= t(:statement_no_pros) %></pre>
			<% end %>
			<div class="centerbox">
				<%= link_to t("arguments.new.create", side: t("arguments.pro")), new_argument_path(pro: true, statement_id: @statement.id), class: "btnm", id: "pnewargtitle" %>
			</div>
		</div>
		<div class="consbox">
			<div class="argtypebox">
				<h2><%= t("arguments.con") %></h2>
			</div>
			<div class="verticalborder">			
				<% unless @con.nil? %>
					<% @con.each do |argument| %>
						<%= render 'arguments/sarguments', argument: argument, pro: false %>
						<hr class="stripe"></hr>
					<% end %>
				<% else %>
					<pre><%= t(:statement_no_cons) %></pre>
				<% end %>
			</div>
			<div class="centerbox">
				<%= link_to t("arguments.new.create", side: t("arguments.con")), new_argument_path(pro: false, statement_id: @statement.id), class: "btnm", id: "cnewargtitle" %>
			</div>
		</div>
	</div>
</div>