<div class="subtitle">
	<ul>
		<li><div class="voor"></div></li>
		<li><div class="subtitletitle"><h2>Argumenten</h2></div></li>
		<li><div class="tegen"></div></li>
	</ul>
</div>
<div class="prosbox">
	<hr></hr>
	<% unless @pro.nil? %>
		<% @pro.each do |argument| %>
			<%= render 'arguments/sarguments', argument: argument, pro: true %><hr></hr>
		<% end %>
	<% else %>
		<pre><%= t(:statement_no_pros) %></pre>
	<% end %>
	<div class="pargument"><%= link_to "Nieuw", new_argument_path(pro: true, statement_id: @statement.id), class: "pargtitle", id: "pnewargtitle" %></div>
</div>
<div class="consbox">
	<hr></hr>
	<% unless @con.nil? %>
		<% @con.each do |argument| %>
			<%= render 'arguments/sarguments', argument: argument, pro: false %><hr></hr>
		<% end %>
	<% else %>
		<pre><%= t(:statement_no_cons) %></pre>
	<% end %>
	<div class="cargument"><%= link_to "Nieuw", new_argument_path(pro: false, statement_id: @statement.id), class: "cargtitle", id: "cnewargtitle" %></div>
</div>