<header>
	<div class= "box">
		<h1 class="title"><%= @statement.title %></h1>
		<p><%= @statement.content %></p>
		<ul class="buttons">
			<li>
				<%= content_tag(:p, t("arguments.comments.placed_by", user: @statement.id, date: l(@statement.created_at, format: :long))) %>
			</li>
			<li>	
				<%= link_to(t("edit"), 	edit_statement_path(@statement)) %>
			</li>
			<li>	
				<%= link_to(t("history"), revisions_statement_path(@statement)) %>
			</li>
		</ul>
		<div style='clear:both;'></div>
	</div>
</header>