<div class="subtitle">
	<ul>
		<li><div class="voor"></div></li>
		<li><div class="subtitletitle"><h2>Argumenten</h2></div></li>
		<li><div class="tegen"></div></li>
	</ul>
</div>
<div class="prosbox">
	<hr></hr>
	<% hasItems = nil %><% @statement.statementarguments.where("pro = :pro", pro: true).each do |statementargument| %>
		<%= render 'arguments/sarguments', statementargument: statementargument %><hr></hr>
		<% hasItems = 1 %><% end %><% if hasItems != 1 %><pre><%= t(:statement_no_pros) %></pre>
	<% end %>
	<div class="pargument"><%= link_to "Nieuw", new_argument_path, class: "pargtitle", id: "pnewargtitle", pro: true, statement_id: @statement.id %></div>
</div>
<div class="consbox">
	<hr></hr>
	<% hasItems = nil %><% @statement.statementarguments.where("pro = :pro", pro: false).each do |statementargument| %>
		<%= render 'arguments/sarguments', statementargument: statementargument %><hr></hr>
		<% hasItems = 1 %><% end %><% if hasItems != 1 %><pre><%= t(:statement_no_cons) %></pre>
	<% end %>
</div>