<header>
	<div class= "box statement">
		<p class="title"><%= @statement.title %></h1>
		<p><%= @statement.content %></p>
		<ul class="buttons">
			<div class="info">
				<%= content_tag(:p, t("arguments.comments.placed_by", user: @statement.creator.username, date: l(@statement.created_at, format: :long))) %>
			</div>
			<li>	
				<%= link_to(t("edit"), 	edit_statement_path(@statement)) %>
			</li>
			<li>	
				<%= link_to(t("history"), statement_revisions_path(@statement)) %>
			</li>
		</ul>
		<div style='clear:both;'></div>
	</div>
	<div class="opinionbtns"> <!--TODO-->
		<%= link_to(t("arguments.pro"), '', class:"oppro") %>
		<%= link_to(t("arguments.neu"), '', class:"opneu") %>
		<%= link_to(t("arguments.con"), '', class:"opcon") %>
	</div>
</header>