<%= link_to(statement_path(statement)) do %>
	<span class="procon">
		<div>
			<h4 class="content showhead">
				<%= statement.title %>
			</h4>
		</div>
		<div class="content">
			<%= statement.content[0,140] + ((statement.content.length < 140) ? "" : "...") %>
		</div>
		<p>
			<small class="showtype">Type: <%= getStateType(statement.statetype) %></small><small class="timestamp showtime"><%=t(:application_general_edited)%> <%= time_ago_in_words(statement.updated_at) + " " + t(:datetime_ago) %>.</small>
		</p>
	</span>
<% end %>