<h1>Listing statements</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Pros</th>
      <th>Cons</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @statements.each do |statement| %>
    <tr>
      <td><%= link_to statement.title, statement %></td>
      <td><%= statement.content %></td>
      <td><%= statement.arguments.nil? ? statement.arguments : t(:statement_no_pros) %></td>
      <td><%= statement.arguments.nil? ? statement.arguments : t(:statement_no_cons) %></td>
      <td>
        <div class="btn-group">
          <%= link_to t(:application_general_show), statement, class: "btn btn-primary" %>
          <%= link_to t(:application_general_edit), edit_statement_path(statement), class: "btn" %>
          <%= link_to t(:application_general_destroy), statement, class: "btn btn-danger", confirm: t(:application_general_destroy_confirmation), method: :delete %>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t(:statement_newstatement), new_statement_path %>
