<div class=" revbar">
	<ul>
		<li>
			<%= @version.next.nil? ? nil : link_to( "← " + t("newer"),  statement_rev_revisions_url(@statement, @version.next), class:"btn") %>
		</li>
		<li id="revprev">
			<%= @version.previous.nil? ? t("revisions.oldest") : link_to( t("older") + " →",  statement_rev_revisions_url(@statement, @version.previous), class:"btn") %>
		</li>
		<% u = User.find_by_id(@statement.version.whodunnit) %>
	</ul>
</div>

<header style="clear:both">
	<div class= "box statement">
		<h1 class="title"><%= @statement.title %></h1>
		<p><%= @statement.content %></p>
		<div class="infobar">
			<div class="tags floatleft">
				<% @statement.tags.any? %>
					<% @statement.tags.each do |tag| %>
		  			<%= link_to tag.name, tagged_url(:tag => tag.name), class:"tag" %>
				<% end %>
			</div>
			<ul class="buttons">
				<li>
					<div class="info floatright hastags">
						<p>
							<% u = User.find_by_id(@statement.version.whodunnit) %>
							<p>bewerkt door <%= u.username %> <%= @version.created_at.to_s %></p>
						</p>
					</div>
				</li>
			</ul>
			</div>
		<div style='clear:both;'></div>
	</div>
</header>

<div class="centerbar">
	<% if(@statement.live?)%>
		<%= t("revisions.current") %>
	<% else %> 
		<%= link_to(t("revisions.revert"), statement_update_revision_url(@statement, @version), method: :put, class: "btn") %>
	<% end %>
</div>
<% #render 'statementarguments' #Not yet migrating with the trail %>