<div class="subtitle">
	<ul>
		<li><h3><%= link_to('Volgende', rev_revisions_statement_url(@statement, @version.next)) %></h3></li>
		<li style="padding-left: 150px;"><h2><%= @version.created_at.to_s %></h2></li>
		<li style="float: right;"><h3><%= link_to('Vorige', rev_revisions_statement_url(@statement, @version.previous)) %></h3></li>
	</ul>
</div>
<div>
	<ul style="display:inline; list-style-type: none;">
		<li style="display: inline;"><h3 style="display: inline;">Options:</h3></li>
		<li style="display: inline;"><% if(@statement.live?)%><%= "Current" %><% else %> <%= link_to('Revert', update_revision_statement_url(@statement, @version), method: :put) %><% end %></li>

	</ul>
</div>
<%= render 'statementbody' %>