<% provide(:title, @statement.title.nil? ? t(:statement_title) : @statement.title) %>
<%= render 'statementbody' %>
	<div class="opinionbtns"> <!--TODO-->
		<%= link_to(t("arguments.pro"), '', class:"oppro") %>
		<%= link_to(t("arguments.neu"), '', class:"opneu") %>
		<%= link_to(t("arguments.con"), '', class:"opcon") %>
	</div>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } , class: "current" , id: "arguments"  %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } %></li>
		<li><%= link_to t("arguments.index.law") , {:anchor => "law" } %></li>
</nav>
<%= render 'statementarguments' %>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" }, class: "current" , id: "opinion" %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } %></li>
		<li><%= link_to t("arguments.index.law") , {:anchor => "law" } %></li>
</nav>
<p> wat vinden jullie er van dan?</p>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } , class: "current" , id: "parties" %></li>
		<li><%= link_to t("arguments.index.law") , {:anchor => "law" } %></li>
</nav>
<%= render 'parties' %>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } %></li>
		<li><%= link_to t("arguments.index.law") , {:anchor => "law" } , class: "current" , id: "law" %></li>
</nav>
<p> Nog leuke wetsvoorstellen te vermelden? </p>
