<% provide(:title, @statement.title.nil? ? t(:statement_title) : @statement.title) %>
<header>
	<h1><%= @statement.title.nil? ? @statement.title : @statement.title %></h1>
</header>
<div class="row-fluid">
	<h2>
		<%= @statement.content %>
	</h2>
</div>
<div class="row">
	<div class="span12">
		<div class="row">
		<div class="span6">
			<h3><%= t(:statement_pros) %></h3>
			<% hasItems = nil %><% @statement.arguments.where("pro = :pro", pro: true).each do |argument| %>
				<%= render 'arguments/sarguments', statementargument: @statement.statementarguments.find_by_argument_id(argument.id) %><% hasItems = 1 %><% end %><% if hasItems != 1 %><pre><%= t(:statement_no_pros) %></pre><% end %>
		</div>
		<div class="span6">
			<h3><%= t(:statement_cons) %></h3>
			<% hasItems = nil %><% @statement.arguments.where("pro = :pro", pro: false).each do |argument| %>
				<%= render 'arguments/sarguments', statementargument: @statement.statementarguments.find_by_argument_id(argument.id) %><% hasItems = 1 %><% end %><% if hasItems != 1 %><pre><%= t(:statement_no_cons) %></pre><% end %>
		</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><%= link_to t(:argument_add), '#addargument', statement_id: @statement.id, remote: true, class: "btn btn-primary", "data-toggle" => "modal", 'data-backdrop' => true, 'data-keyboard' => true %>
				<%= link_to t(:application_general_edit), edit_statement_path(@statement), class: "btn btn-primary" %></p>
			</div>
		</div>
	</div>
</div>
<%= render 'addargument' %>