<% provide :title, (@statement.title.nil? ? t(:statement_title) : @statement.title) %>
<%= render 'statementbody' %>
	<ul class="opinionbtns"> <!--TODO-->
		<li><%= link_to(t("arguments.pro"), '', class:"oppro") %></li>
		<li><%= link_to(t("arguments.neu"), '', class:"opneu") %></li>
		<li><%= link_to(t("arguments.con"), '', class:"opcon") %></li>
	</ul>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } , class: "current" , id: "arguments"  %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } %></li>
	</ul>
</nav>
<%= render 'statementarguments' %>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" }, class: "current" , id: "opinion" %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } %></li>
	</ul>
</nav>
<p> wat vinden jullie er van dan?</p>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } , class: "current" , id: "parties" %></li>
	</ul>
</nav>
<%= render 'parties' %>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , {:anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %></li>
		<li><%= link_to t("arguments.index.parties") , {:anchor => "parties" } %></li>
	</ul>
</nav>
<p> Nog leuke wetsvoorstellen te vermelden? </p>
