<% provide :title, (@statement.title.nil? ? t(:statement_title) : @statement.title) %>
<%= render partial: 'statementbody', locals: { statement: @statement } %>
<% if Rails.configuration.epics.opinion_buttons %>
<%= render partial: 'opinionbtns' %>
<% end %>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , { id: @statement.id, :anchor => "arguments" }, class: "current" , id: "arguments"  %></li>
		<li><%= link_to t("arguments.index.opinion") , { id: @statement.id, :anchor => "opinion" } if Rails.configuration.epics.opinion %></li>
		<li><%= link_to t("arguments.index.parties") , { id: @statement.id, :anchor => "parties" } if Rails.configuration.epics.parties %></li>
	</ul>
</nav>
<%= render partial: 'statementarguments', locals: { id: @statement.id,  statement: @statement } %>
<% if Rails.configuration.epics.opinion %>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , { id: @statement.id, :anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , { id: @statement.id, :anchor => "opinion" }, class: "current" , id: "opinion" %></li>
		<li><%= link_to t("arguments.index.parties") , { id: @statement.id, :anchor => "parties" } if Rails.configuration.epics.parties %></li>
	</ul>
</nav>
<p> wat vinden jullie er van dan?</p>
<% end %>
<% if Rails.configuration.epics.parties %>
<nav class="navrow">
	<ul class="navcontent">
		<li><%= link_to t("arguments.index.title") , { id: @statement.id, :anchor => "arguments" } %></li>
		<li><%= link_to t("arguments.index.opinion") , { id: @statement.id, :anchor => "opinion" } if Rails.configuration.epics.opinion %></li>
		<li><%= link_to t("arguments.index.parties") , { id: @statement.id, :anchor => "parties" } , class: "current" , id: "parties" %></li>
	</ul>
</nav>
<%= render partial: 'parties', locals: { statement: @statement } %>
<% end %>