<% provide(:title, @statement.title.nil? ? t(:statement_title) : @statement.title) %>
<% provide(:menu_class, 'statements') %>
<%= render 'statementbody' %>
<div class="stcont3">
	<ul class="navcontent">
		<li>
			<%= link_to t("arguments.index.title") , {:anchor => "arguments" } , class: "current" , id: "arguments"  %>
		</li>
		<li>
			<%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.parties") , {:anchor => "parties" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.law") , {:anchor => "law" } %>
		</li>
</div>
<%= render 'statementarguments' %>
<div class="stcont3">
	<ul class="navcontent">
		<li>
			<%= link_to t("arguments.index.title") , {:anchor => "arguments" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.opinion") , {:anchor => "opinion" }, class: "current" , id: "opinion" %>
		</li>
		<li>
			<%= link_to t("arguments.index.parties") , {:anchor => "parties" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.law") , {:anchor => "law" } %>
		</li>
</div>
<p> wat vinden jullie er van dan?</p>
<div class="stcont3">
	<ul class="navcontent">
		<li>
			<%= link_to t("arguments.index.title") , {:anchor => "arguments" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.parties") , {:anchor => "parties" } , class: "current" , id: "parties" %>
		</li>
		<li>
			<%= link_to t("arguments.index.law") , {:anchor => "law" } %>
		</li>
</div>
<%= render 'parties' %>
<div class="stcont3">
	<ul class="navcontent">
		<li>
			<%= link_to t("arguments.index.title") , {:anchor => "arguments" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.opinion") , {:anchor => "opinion" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.parties") , {:anchor => "parties" } %>
		</li>
		<li>
			<%= link_to t("arguments.index.law") , {:anchor => "law" } , class: "current" , id: "law" %>
		</li>
</div>
<p> Nog leuke wetsvoorstellen te vermelden? </p>
