<% provide(:title, @statement.title.nil? ? t(:statement_title) : @statement.title) %>
<header>
	<h1><%= @statement.title.nil? ? @statement.title : @statement.title %></h1>
</header>
<div class="row-fluid">
	<p id="notice"><%= notice %></p>
	<h2>
		<%= @statement.content %>
	</h2>
</div>
<div class="row">
	<div class="span12">
		<div class="row">
		<div class="span6">
			<h3><%= t(:statement_pros) %></h3>
			<pre>
				<%= @statement.pros.nil? ? @statement.pros : "No pros yet" %>
			</pre>
		</div>
		<div class="span6">
			<h3><%= t(:statement_cons) %></h3>
			<pre>
  				<%= @statement.cons.nil? ? @statement.cons : "No cons yet" %>
			</pre>
		</div>
		</div>
		<div class="row">
			<div class="span2">
				<%= link_to t(:application_general_edit), edit_statement_path(@statement), class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>