<h1>Listing statementarguments</h1>

<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Statement</th>
      <th>Argument</th>
      <th>Pro/con</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  <% if @statementarguments.nil? %>
  <% @statementarguments.each do |statementargument| %>
    <tr>
      <td><%= Statement.find_by_id(statementargument.statement_id).title %></td>
      <td><%= Argument.find_by_id(statementargument.argument_id).title %></td>
      <td><%= statementargument.pro == true ? "Pro" : "Con" %></td>
      <td>
        <div class="btn-group">
          <%= link_to t(:application_general_show), statementargument, class: "btn btn-primary" %>
          <%= link_to t(:application_general_edit), edit_statementargument_path(statementargument), class: "btn" %>
          <%= link_to t(:application_general_destroy), statementargument, class: "btn btn-danger", confirm: t(:application_general_destroy_confirmation), method: :delete %>
        </div>
      </td>
    </tr>
  <% end %>
  <% elsif %>
    <tr>
      <td>
        <%= t(:argument_non) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Statementargument', new_statementargument_path, class: "btn" %>
