var Navbar = React.createClass({
        getInitialState: function () {
            return {
            };
        },

        render: function () {
            return (
                <div className="nav-container">
                    <div className="navbar-logo" data-intro="<%= I18n.t("intro.header.logo") %>">
                        <a href="/" >
                            <%= image_tag('logo-white.svg') %>
                        </a>
                    </div>
                    <NavbarLinksLeft />
                    <NavbarLinksRight />
                </div>
            );
        }
});

var NavbarLinksLeft = React.createClass({
    getInitialState: function () {
        return {
            home_text: "<%= I18n.t("home_title") %>",
            memberships: []
        };
    },

    componentDidMount: function() {
        $.get('/users/current', function(result) {
            if (this.isMounted()) {
                this.setState(result.user);
            }
        }.bind(this));
    },

    render: function () {
        return (
            <ul className="navbar-links">
                <li>
                    <a href="/" className="navbar-item">
                        <span className="fa fa-home"></span>
                    </a>
                </li>
                <li tabIndex="0" className="dropdown" data-intro="<%= I18n.t('intro.header.forums') %>" data-position="right">
                    <a href="#" className="dropdown-trigger navbar-item" data-skip-pjax>
                        <span className="fa fa-tags"></span>
                        <span className="icon-left">{this.state.home_text}</span>
                        <span className="fa fa-angle-down"></span>
                    </a>
                    <ul className="dropdown-content">
                        {this.state.memberships.map(function(membership) {
                            return (<li key={membership.forum}>
                                <a href={membership.url}>{membership.title}</a>
                            </li>);
                        })}
                        <div className="dropdown-divider"></div>
                        <a href={Routes.forums_path()} className="btn-focus">
                            <span className="fa fa-compass"></span>
                            <span className="icon-left"><%= I18n.t('forums.discover') %></span>
                        </a>
                    </ul>
                </li>
            </ul>
        );
    }
});

var NavbarLinksRight = React.createClass({
    getInitialState: function () {
        return {
        };
    },

    render: function () {
        return (
                <ul className="navbar-links navbar-links-right">
                    <ProfileDropdown/>
                    <Notifications />
                    <ArguInfoDropdown />
                    <IntroStart />
                </ul>
        );
    }
});

var ProfileDropdown = React.createClass({
    getInitialState: function () {
        return {
            username: '',
            name: '',
            url: '',
            profile_photo: {
                url: '',
                icon: {
                    url: ''
                }
            },
            managed_pages: []
        };
    },

    componentDidMount: function() {
        $.get('/c_a.json', function(result) {
            if (this.isMounted()) {
                this.setState(result.current_actor);
            }
        }.bind(this));
    },

    render: function () {
        var managedPages;
        if (this.state.managed_pages.length > 0) {
            managedPages = (<span className="dropdown-header"><%= I18n.t('profiles.switch') %></span>);
        }
        return (
            <li tabIndex="0" className="dropdown" data-intro="<%= I18n.t('intro.header.profile') %>" data-position="left" >
                <a href="#" className="dropdown-trigger navbar-item" data-skip-pjax>
            <li tabIndex="0" className="dropdown  profile-picture--navbar" data-intro="<%= I18n.t('intro.header.profile') %>" data-position="left" >
                <a href="#" className="dropdown-trigger navbar-item">
                    <img src={this.state.profile_photo.icon.url} alt="profile picture" className="profile-picture--navbar" />
                    <span className="icon-left">{this.state.username}</span>
                </a>
                <ul className="dropdown-content dropdown-right">
                    <li>
                        <a href={this.state.url} >
                            <span className="fa fa-user"></span>
                            <span className="icon-left"><%= I18n.t('profiles.display') %></span>
                        </a>
                    </li>
                    <li>
                        <a href={Routes.settings_path()} >
                            <span className="fa fa-gear"></span>
                            <span className="icon-left"><%= I18n.t(:users_show_title) %></span>
                        </a>
                    </li>
                    <li>
                        <a href={Routes.new_user_invitation_path()} >
                            <span className="fa fa-bullhorn"></span>
                            <span className="icon-left"><%= I18n.t('devise.invitations.link') %></span>
                        </a>
                    </li>
                    <% if Rails.configuration.epics.page_create %>
                        <li>
                            <a href={Routes.new_page_path()} >
                                <span className="fa fa-plus"></span>
                                <span className="icon-left"><%= I18n.t('pages.create') %></span>
                            </a>
                        </li>
                    <% end %>
                    <li>
                        <a href={Routes.destroy_user_session_path()} method="delete" data-skip-pjax>
                            <span className="fa fa-sign-out"></span>
                            <span className="icon-left"><%= I18n.t('sign_out') %></span>
                        </a>
                    </li>
                    {managedPages}
                    <div className="profile-switcher">
                        {this.state.managed_pages.map(function(page) {
                            return (<li key={page.title}>
                                <a href={page.update_url} data-method="put" rel="nofollow">{page.title}</a>
                            </li>);
                        })}
                    </div>
                </ul>
            </li>
        );
    }
});

var Notifications = React.createClass({
    getInitialState: function () {
        return {
        };
    },

    render: function () {
        return (
                <ul className="navbar-links navbar-links-right">

                </ul>
        );
    }
});

var ArguInfoDropdown = React.createClass({
    getInitialState: function () {
        return {
            about_path: Routes.about_path(),
            workings_path: Routes.how_argu_works_path(),
            team_path: Routes.team_path(),
            product_path: Routes.product_path(),
            governments_path: Routes.governments_path()
        };
    },

    render: function () {
        return (
                <li tabIndex="0" className="dropdown">
                    <a href="#" className="dropdown-trigger navbar-item" data-skip-pjax>
                        <span className="fa fa-info" />
                        <span className="icon-left"><%= I18n.t('about.title') %></span>
                    </a>
                    <ul className="dropdown-content dropdown-right">
                        <li>
                            <a href={this.state.about_path}>
                                <span><%= I18n.t('about.vision') %></span>
                            </a>
                        </li>
                        <li>
                            <a href={this.state.workings_path}>
                                <span><%= I18n.t('about.how_argu_works') %></span>
                            </a>
                        </li>
                        <li>
                            <a href={this.state.team_path}>
                                <span><%= I18n.t('about.team') %></span>
                            </a>
                        </li>
                        <li>
                            <a href={this.state.product_path}>
                                <span><%= I18n.t('about.product') %></span>
                            </a>
                        </li>
                        <li>
                            <a href={this.state.governments_path}>
                                <span><%= I18n.t('about.governments') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
        );
    }
});

var IntroStart = React.createClass({
    getInitialState: function () {
        return {
        };
    },

    render: function () {
        return (
                <li tabIndex="0" className="dropdown">
                    <a className="intro-trigger navbar-item">
                        <span className="fa fa-question" />
                        <span className="icon-left"><%= I18n.t('intro.start') %></span>
                    </a>
                </li>
        );
    }
});