<div id="navbar">
  <div id="mainbar">      
  <%= link_to "", '/', id: "argulogo" %>
      <ul id="navbtns">
        <li><%= render partial: 'search/search' %></li>
        <% if current_user.present?%>
          <li><%= link_to t(:header_menuitem_statements), statements_url, id: "statements" %></li>
            <li><%= link_to t(:users_show_title), settings_url , id: "account" %>
              <ul class="dropdown">
                <li></li>
              </ul></li>
        <% else %>
          <li><%= link_to t(:sign_in), new_user_session_url, id: "account" %></li>
        <% end %>
        <li><%= link_to "info", '/about', class: "close", id: "info" %></li>
        <li><%= link_to("uitloggen", destroy_user_session_url, method: :delete) %></li>
      </ul>
      </div></div>
    </ul>
  </div>
<div class="clear"></div>