<div class="infobar" id="shr<%= argument.id %>">
	<ul class="buttons">
		<li>
		<p class="vote votelabel"><%= t("votes.score")%></p>
		<p class="vote" id="<%= argument.id %>"> <%= (argument.votes.size >= 1 ? '+' : '') + argument.votes_for.to_s %></p>
		</li>
		<li>
			<%= render partial: 'votes/votebtn', locals: { argument: argument } %>
		</li>
	</ul>
</div>