<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t(:application_name), root_path, class: "brand", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
         <li<%= yield(:title) == t(:header_menuitem_home) ? " class=active" : "" %>><%= link_to t(:header_menuitem_home),    root_path   %></li>
         <% if signed_in? %>
           <li><%= link_to t(:header_menuitem_users), users_path %></li>
           <li><%= link_to t(:header_menuitem_statements), statements_path %></li>
           <li><%= link_to t(:header_menuitem_arguments), arguments_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(:header_menuitem_profile), current_user %></li>
                <li><%= link_to t(:header_menuitem_settings), '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t(:header_menuitem_sign_out), signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
         <% else %>
           <li<%= yield(:title) == t(:header_menuitem_sign_up) ? " class=active" : "" %>><%= link_to t(:header_menuitem_sign_up), signup_path %></li>
           <li<%= yield(:title) == t(:header_menuitem_sign_in) ? " class=active" : "" %>><%= link_to t(:header_menuitem_sign_in), signin_path %></li>
           <li id="fat-menu" class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <%= t(:header_menuitem_sign_in) %> <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><%= render 'sessions/new' %></li>
             </ul>
           </li>
         <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
