<div id="navbar">
  <ul id="mainbar">
    <li><%= link_to "Home", '/', id: "argulogo" %></li>
    <li><input type="text" id="search"></li>
    <div id="navr">
      <% if !current_user.nil?%>
        <li><%= link_to t(:header_menuitem_settings), '/users/' + current_user.id.to_s, id: "account" %>
          <ul class="dropdown">
            <li>Test</li>
          </ul></li>
      <% else %>
        <li><%= link_to t(:header_menuitem_settings), new_user_session_url, id: "account" %></li>
      <% end %>
      <li><%= link_to "Info", '/about', id: "info" %></li>
    </div>
  </ul>
</div>
<div>
  <ul class="revunderbar">
    <li><%= link_to("Statements", arguments_url) %></li>
    <li><%= link_to("Arguments", statements_url) %></li>
    <% unless current_user.nil? %>
      <li><%= link_to("Profile", profile_path((current_user.username || current_user.profile.id))) %></li>
      <li><%= link_to("Sign out", destroy_user_session_url, method: :delete) %></li>
    <% else %>
      <li><%= link_to("Sign up", new_user_registration_url) %></li>
      <li><%= link_to("Sign in", new_user_session_url) %></li>
    <% end %>
  </ul>
</div>