<div id="navbar">
  <ul>
    <li><a href="" id="argulogo" title="argu">argu</a></li>
    <li><input type="text" id="search"></li>
    <div id="navr">
      <li><%= link_to t(:header_menuitem_settings), '/users/' + current_user.id.to_s + '/settings', id: "account" %></li>
      <li><a href="" id="info">info</a></li>
    </div>
  </ul>
</div><!--
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t(:application_name), root_path, class: "brand", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
         <li<%= yield(:menu_class) == 'home' ? " class=active" : "" %>><%= link_to t(:header_menuitem_home), root_path %></li>
         <% if signed_in? %>
          <li<%= yield(:menu_class) == 'users' ? " class=active" : "" %>><%= link_to t(:header_menuitem_users), users_path %></li>
          <li<%= yield(:menu_class) == 'statements' ? " class=active" : "" %>><%= link_to t(:header_menuitem_statements), statements_path %></li>
          <li<%= yield(:menu_class) == 'arguments' ? " class=active" : "" %>><%= link_to t(:header_menuitem_arguments), arguments_path %></li>
          <li id="fat-menu" <%= yield(:menu_class) == 'profile' ? " class='dropdown active'" : "class=dropdown" %>>
            <a href="#" <%= yield(:menu_class) == 'profile' ? " class='dropdown-toggle active'" : "class=dropdown-toggle" %> data-toggle="dropdown">
              <%= current_user.nil? ? t(:header_menuitem_account) : current_user.username %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:header_menuitem_profile), current_user %></li>
              <li><%= link_to t(:header_menuitem_settings), '/users/' + current_user.id.to_s + '/settings' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(:header_menuitem_sign_out), signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
         <% else %>
           <li<%= yield(:menu_class) == 'signup' ? " class=active" : "" %>><%= link_to t(:header_menuitem_sign_up), signup_path %></li>
           <li<%= yield(:menu_class) == 'signin' ? " class=active" : "" %>><%= link_to t(:header_menuitem_sign_in), signin_path %></li>
           <li id="fat-menu" class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <%= t(:header_menuitem_sign_in) %> <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><%= render 'sessions/new' %></li>
             </ul>
           </li>
         <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
-->