<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) == "" ? "" : yield(:title) + " | " %><%= t(:application_name) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <%= render 'layouts/shim'%>
  <%= stylesheet_link_tag "newlayout" %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key,value| %>
        <div class="alert alert-block alert-<%= key.capitalize %>" data-dismiss="alert"><%= value.capitalize %>
          <a class="close"><i class="icon ok" alt="x" >x</i></a>
        </div>
    <% end %>
    <%= yield %>
    <div class="push"></div>
  </div>
  <%= render 'layouts/footer'%>
  <!-- It should load faster when placed in the bottom.. -->
  <%= javascript_include_tag "application" %>
</body>
</html>
