<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) == "" ? "" : yield(:title) + " | " %><%= t(:application_name) %></title>
  <meta name="viewport" content="initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <%= render 'layouts/shim'%>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="fb-root"></div>
  <div class="container">
    <% flash.each do |key,value| %>
        <div class="alert alert-block alert-<%= key.capitalize %>" data-dismiss="alert"><%= value.capitalize %>
          <a class="close"><i class="icon ok" alt="x" >x</i></a>
        </div>
    <% end %>
    <%= yield %>
    <div class="push"></div>
  </div>
  <!--<%= render 'layouts/footer'%>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/hflYbYhLWzx2DDmc1utYTw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  -->
</body>
</html>
