<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) == "" ? "" : yield(:title) + " | " %><%= t('name') %></title>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>
  <% unless current_user.blank? %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  <% end %>
</head>
<body>
<% unless current_user.blank? %>
  <%= render 'layouts/header' %>
  <div id="fb-root"></div>
  <div class="container">
    <% flash.each do |key,value| %>
        <div class="alert alert-block alert-<%= key.capitalize %>" data-dismiss="alert"><%= value.capitalize %>
          <a class="close"><i class="icon ok" alt="x" >x</i></a>
        </div>
    <% end %>
    <%= yield %>
    <div class="push"></div>
  </div>
  <!-- <%= render 'layouts/footer'%>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/hflYbYhLWzx2DDmc1utYTw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script> -->
<% else %>
  <%= image_tag "argu.png", alt: "argu is nog in ontwikkeling", width: "673px", height: "72px", style: "margin-left:auto;margin-right:auto;display:block;margin-top:200px" %>
  <%= form_for("user", :url => user_session_path, :html => { class: "form-horizontal" } ) do |f| %>
    <table border="0">
      <tr>
        <td><h1 class="setting"><%= f.label :login %></h1></td>
        <td><%= f.text_field :login, class: "settingform" %>
      </tr>
      <tr>
        <td><h1 class="setting"><%= f.label :password %></h1></td>
        <td><%= f.password_field :password, class: "settingform" %>
      </tr>
      <tr>
        <td></td>
        <td> <div><%= f.submit "log in" , class: "submitbtn" %></div></td>
      </tr>
    </table>
  <% end %>
<% end %>
</body>
</html>
