<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
  <title><%= yield(:title).blank? ? "" : yield(:title) + " | " %><%= t('name') %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= render 'shim'%>
  <link href='//fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <% unless current_user.blank? %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  <% end %>
</head>
<body>
<% unless current_user.blank? %>
  <!--[if lt IE 8]>
    <p class="browsehappy"><%= raw t("outdated_browser") %></p>
  <![endif]-->
  <%= render 'header' %>
  <div id="fb-root"></div>
  <div class="container">
    <% flash.each do |key,value| %>
        <div class="alert alert-block alert-<%= key.capitalize %>" data-dismiss="alert"><%= value.capitalize %></div>
    <% end %>
    <%= yield %>
    <div class="push"></div>
  </div>
  <!--<%= render 'footer'%>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/hflYbYhLWzx2DDmc1utYTw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script> -->
<% else %>
    <div class="container">
  <%= image_tag "argu.png", alt: "argu is nog in ontwikkeling", width: "673px", height: "72px", style: "margin-left:auto;margin-right:auto;display:block;margin-top:200px" %>
  <%= form_for("user", :url => user_session_path, :html => { class: "form-horizontal" } ) do |f| %>
    <table border="0">
      <tr>
        <td><h1 class="setting"><%= f.label :login %></h1></td>
        <td><%= f.text_field :login, autofocus: true, class: "settingform" %>
      </tr>
      <tr>
        <td><h1 class="setting"><%= f.label :password %></h1></td>
        <td><%= f.password_field :password, class: "settingform" %>
      </tr>
      <tr>
        <td></td>
        <td> <div><%= f.submit "log in" , class: "submitbtn" %></div></td>
      </tr>
    </table>
  <% end %>
  </div>
<% end %>
</body>
</html>
